.header_5,
.onSticky,
[class*='header_onthe_cover'] .page_header.onSticky {
	position: fixed;
	z-index: 999;
	top: 0;
	transform: translateY(-120%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: transform 400ms ease-in-out, padding 400ms ease-in-out !important
}
.onSticky,
[class*='header_onthe_cover'] .page_header.onSticky {
	transform: none
}
.header_5 {
	transform: translateY(-120%)
}
.smart_sticky_on,
[class*='header_onthe_cover'] .page_header.smart_sticky_on {
	transform: translateY(-160%);
	margin-top: 0;
	top: 0
}
.show_on_sticky, .onSticky .hide_on_sticky {
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	width: 0;
	height: 1px;
	transition: all .4s ease-in-out
}
.onSticky .show_on_sticky, .hide_on_sticky {
	visibility: visible;
	width: auto;
	height: auto;
	opacity: 1
}
.onSticky .row {
	transition: width .5s ease-in-out
}
.cz_sticky_h12 > div, 
.cz_sticky_h13 > div, 
.cz_sticky_h23 > div, 
.cz_sticky_h123 > div {
	transition: none !important
}
.onSticky .sf-menu > .cz > a {
	z-index: inherit
}
.onSticky .sf-menu {
	z-index: 1
}